/* Footer */
footer {
  width: 100vw;
  height: 300px;
  background: url(../resource/images/footer.png);
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
footer h3 {
  color: #fff;
  font-size: 36px;
  margin-top: 90px;
}
.signup {
  position: relative;
  width: 350px;
  margin: 30px auto;
}
.signup input {
  width: calc(100% - 10px);
  height: 45px;
  background-color: #3A6EF6;
  border: none; 
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
}
.signup input:focus {
  border: 1px solid rgb(180, 213, 253);
}
.signup button {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
  height: 45px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #2657DF;
  font-weight: 600;
}
.signup button:hover {
  background-color: rgb(203, 240, 255);
}