/* 修改默认nav */
nav {
  float: left;
}
nav,
.left-background {
  border-bottom: 1px solid #ccc;
}
.page a {
  height: 47px;
}
.right-background {
  float: left;
  height: 50px;
  border-bottom: 1px solid #ccc;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  /* IE6&7 */
  *zoom: 1
}